.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fefae0;
  flex-direction: column;
}
.resultScreen{
  text-align: right;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin: auto;
  padding: 10px 14px 0 10px;
  box-sizing: border-box;
  width: 220px;
  height: 3.5rem;
}

tr{
  display: flex;
}

td{
  cursor: pointer;
  display: block;
  width: 3rem;
  padding: 5px;
  text-align: center;
  background: #dadce0;
  color: #202124;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 4px;
}

td:hover{
  border: 1px solid #b8b9bc;
  border-radius: 4px;
  box-sizing: border-box;
}

td:active{
  border: 1px solid #909090;
  background-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.error p{
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  color: red;
  font-size: 0.7rem;
  font-style: initial;
}

h1{
  color: #a1a1a1;
  font-size: 40px;
  margin-bottom: 5px;
  font-variation-settings: 'wght' 900;
  font-family: monospace;
}

